.wrapper {
	width: 100%;

	border-bottom: 1px solid var(--border-color);

	padding: 0.5rem;

	box-sizing: border-box;

	a {
		text-decoration: none;
		font-weight: 300;
		color: black;

		&.active {
			font-weight: 900;
		}
	}

	.logo {
		height: 5rem;
		object-fit: contain;
	}

	h1 {
		margin-right: auto;
	}
}
