<div class="column gap-1">
	@if (currentRole === 'admin') {
		<button
			type="button"
			pButton
			icon="pi pi-plus"
			(click)="toggleAddPopup()"
			label="Add Product"
			class="add-product-btn"
		></button>
	}

	<!-- Products Section -->
	<!-- removed space-between class from this element that was in the tutorial -->
	<div class="product-row wrap gap-3">
		<!-- Directive example -->
		<app-product
			*ngFor="let product of products"
			[product]="product"
			(edit)="toggleEditPopup($event)"
			(delete)="toggleDeletePopup($event)"
		></app-product>
		<!-- Loop example -->
		<!--
		@for (product of products; track product.id) {
			<app-product
				[product]="product"
				(edit)="toggleEditPopup($event)"
				(delete)="toggleDeletePopup($event)"
			></app-product>
		}
		-->
	</div>

	<!-- Paginator -->
	<p-paginator
		[rows]="rows"
		[totalRecords]="totalRecords"
		[rowsPerPageOptions]="[5, 10, 20]"
		[first]="1"
		(onPageChange)="onPageChange($event)"
		#paginator
	></p-paginator>
</div>

<!-- Edit Product -->
<app-edit-popup
	[product]="selectedProduct"
	[allProducts]="allProducts"
	[(display)]="displayEditPopup"
	[images]="images"
	(confirm)="onConfirmEdit($event)"
	header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
	[(display)]="displayAddPopup"
	[allProducts]="allProducts"
	(confirm)="onConfirmAdd($event)"
	[images]="images"
	[defaultImageText]="defaultImageText"
	header="Add Product"
></app-edit-popup>
