<div class="column gap-1">
	<div class="products-search-container">
		<div class="filter-area">
			<h1 class="flex-center">
				Filter
			</h1>
			<p-tree
				[value]="files"
				selectionMode="checkbox"
				[(selection)]="selectedFiles"
				[style]="{'border': 'none', 'padding': '1rem 0 0 0'}"
				(onNodeSelect)="treeChangeEvent($event)"
				(onNodeUnselect)="treeChangeEvent($event)"
			/>
		</div>


		<!-- Products Section -->
		<div class="products-container">
			<h1 class="flex-center">
				Products
			</h1>
			@if (currentRole === 'admin') {
				<div class="add-product-btn-container flex-center">
					<button
						type="button"
						pButton
						icon="pi pi-plus"
						(click)="toggleAddPopup()"
						label="Add Product"
					></button>
				</div>
			}
			<!-- removed space-between class from this element that was in the tutorial -->
			<div class="product-row wrap gap-3">
				<!-- Directive example -->
				<app-product
					*ngFor="let product of products"
					[product]="product"
					(edit)="toggleEditPopup($event)"
					(delete)="toggleDeletePopup($event)"
				></app-product>
				<!-- Loop example -->
				<!--
				@for (product of products; track product.id) {
					<app-product
						[product]="product"
						(edit)="toggleEditPopup($event)"
						(delete)="toggleDeletePopup($event)"
					></app-product>
				}
				-->
				@if ((currentPage * rows) < activeProducts.length) {
					<div class="dots-container">
						<div class="dot" id="dot1"></div>
						<div class="dot" id="dot2"></div>
						<div class="dot" id="dot3"></div>
					</div>
				}
		</div>
		</div>
	</div>

	<!-- Paginator -->
	<p-paginator
		[rows]="rows"
		[totalRecords]="activeProducts.length"
		[rowsPerPageOptions]="[7, 15, 23]"
		[first]="1"
		(onPageChange)="onPageChange($event)"
		#paginator
	></p-paginator>
</div>

<!-- Edit Product -->
<app-edit-popup
	[product]="selectedProduct"
	[allProducts]="allProducts"
	[(display)]="displayEditPopup"
	[images]="images"
	(confirm)="onConfirmEdit($event)"
	header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
	[(display)]="displayAddPopup"
	[allProducts]="allProducts"
	(confirm)="onConfirmAdd($event)"
	[images]="images"
	[defaultImageText]="defaultImageText"
	header="Add Product"
></app-edit-popup>
